
            #OuterContainer {
                color: green;      
  
              }
  ​
              h1 {
                  color:orange
              }
  ​
              ul {
                  background: yellow;
              }
  ​
              li {
                  color:black;
                  background:white;
                  padding: 5px;
              }
  
              #OuterContainer:hover {
                  border-color:red;
              }
  
  
              li:hover {
                  background: green;