
 #OuterContainer {
     width: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: orange;
     border-style: groove;
     border-width: 5px;
     border-color: black;
 }
 ​
 #OuterContainer:hover {
     border-color:red;
 }
 ​
 h1 {
     color:white;
 }
 ​
 ul {
     background: yellow;
 }
 ​
 li {
     color:black;
     background:white;
     padding: 5px;
 }
 ​
 li:hover {
     background:green;
 }