<!DOCTYPE html>
<html>
    <head>
​
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
​
        <title>Workout Homepage</title>
        
    </head>
​
    <!--Content goes here-->
    <body>
​
        <div id="OuterContainer">
            <h1>Welcome, User!</h1>
            <p>This is an application to track your workout programs.</p>
    
            <div>Things to watch out for in this journey:</div>
            <ul>
                <li>Eat Right!</li>
                <li>Lift Heavy!</li>
                <li>Sleep More!</li>
            </ul>
​
            <button id="color_change">Click Me Bic!</button>
        </div>
​
    </body>
​
</html>